// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1024px;

// Define your breakpoints
$tablet: 1024px;
$mobile: 640px;

@mixin media($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin outer-container {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}